<a href="https://colab.research.google.com/github/RedPandaStyle/ACE-Predictive-Analytics/blob/main/Final_Project_App_Twt_SA_JPV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apple-Twitter Sentiment Analysis**

In [5]:
# Import Pandas, Numpy,String,nltk,sklearn,csv,re,tensorflow,seaborn,matplotlib,keras
# Defaults
import itertools
import pandas as pd 
import numpy as np
import string
import nltk
import nltk.corpus
import sklearn
import csv
import re
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
import matplotlib as mpl

# NLP stack
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import stopwords,wordnet 
from nltk import NaiveBayesClassifier
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk import pos_tag
from wordcloud import WordCloud

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from keras.preprocessing.text import Tokenizer, text_to_word_sequence
from sklearn.model_selection import train_test_split
from keras.models import load_model

# ML Stuff
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing import text, sequence       
from IPython.display import display, HTML
from tensorflow.keras.utils import to_categorical
from keras.callbacks import ModelCheckpoint
from sklearn.utils import class_weight
from sklearn.metrics import precision_score, accuracy_score, f1_score,recall_score, roc_auc_score,precision_recall_curve, average_precision_score, auc, roc_curve
from keras.layers import Conv1D, MaxPooling1D, GlobalMaxPooling1D
from sklearn.metrics import classification_report

from keras.utils.vis_utils import plot_model
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix
import pickle

sns.set()

In [6]:
# DL comparators
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

**Load Given Data**

In [7]:
# Import given csv file and establish encoding protocol
encoding = "ISO-8859-1"
ats = pd.read_csv ('https://raw.githubusercontent.com/RedPandaStyle/ACE-Predictive-Analytics/main/Apple-Twitter-Sentiment-DFE%20-%20Apple-Twitter-Sentiment-DFE.csv')

**Initiate Exploratory Data Analysis**

In [8]:
# Basic view
ats.head(15)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL
5,623495518,True,golden,13,NaN,3,0.5975,Mon Dec 01 20:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,#AAPL:5 Rocket Stocks to Buy for December Gain...
6,623495519,True,golden,13,NaN,5,0.8468,Mon Dec 01 20:32:45 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,Top 3 all @Apple #tablets. Damn right! http://...
7,623495520,True,golden,9,NaN,5,0.6736,Mon Dec 01 20:34:31 +0000 2014,5.400000e+17,#AAPL OR @Apple,5\n3,CNBCTV: #Apple's margins better than expected?...
8,623495521,True,golden,15,NaN,3,0.7997,Mon Dec 01 20:36:47 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,Apple Inc. Flash Crash: What You Need to Know ...
9,623495522,False,finalized,3,12/12/14 0:52,3,0.6360,Mon Dec 01 20:45:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,#AAPL:This Presentation Shows What Makes The W...
10,623495523,True,golden,12,NaN,1,1.0000,Mon Dec 01 20:46:01 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,WTF MY BATTERY WAS 31% ONE SECOND AGO AND NOW ...
11,623495524,True,golden,9,NaN,3,0.6658,Mon Dec 01 20:47:12 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,Apple Watch Tops Search Engine List of Best We...
12,623495525,True,golden,11,NaN,3,0.8381,Mon Dec 01 21:00:15 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,"The Best-Designed #iPhone #Apps In the World, ..."
13,623495526,False,finalized,3,12/12/14 21:38,5,1.0000,Mon Dec 01 21:03:32 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,RT @peterpham: Bought my @AugustSmartLock at t...
14,623495527,True,golden,17,NaN,1,1.0000,Mon Dec 01 21:09:50 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,@apple Contact sync between Yosemite and iOS8 ...

In [9]:
# Describe titles of Columns
ats.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'sentiment', 'sentiment:confidence', 'date', 'id',
       'query', 'sentiment_gold', 'text'],
      dtype='object')

In [10]:
# Describe Datatypes
ats.dtypes

_unit_id                  int64
_golden                    bool
_unit_state              object
_trusted_judgments        int64
_last_judgment_at        object
sentiment                object
sentiment:confidence    float64
date                     object
id                      float64
query                    object
sentiment_gold           object
text                     object
dtype: object

In [11]:
# Begin dropping unwanted data
ats.drop(['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','sentiment:confidence','date','id','query','sentiment_gold',], axis=1, inplace=True)
ats

     sentiment                                               text
0            3  #AAPL:The 10 best Steve Jobs emails ever...htt...
1            3  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2            3  My cat only chews @apple cords. Such an #Apple...
3            3  I agree with @jimcramer that the #IndividualIn...
4            3       Nobody expects the Spanish Inquisition #AAPL
...        ...                                                ...
3881         3  (Via FC) Apple Is Warming Up To Social Media -...
3882         3  RT @MMLXIV: there is no avocado emoji may I as...
3883         5  @marcbulandr I could not agree more. Between @...
3884         1  My iPhone 5's photos are no longer downloading...
3885         5  RT @SwiftKey: We're so excited to be named to ...

[3886 rows x 2 columns]

In [12]:
# Verify dtypes once again and fill and NaNs with 0
ats.dtypes

sentiment    object
text         object
dtype: object

In [13]:
ats.isnull().sum().sort_values(ascending=False)

sentiment    0
text         0
dtype: int64

In [14]:
# Change dtype of golden to int

In [15]:
# Change sentiment to int

In [16]:
# Change unit state to int

In [17]:
# Change all int types to 32 bit