<a href="https://colab.research.google.com/github/RedPandaStyle/ACE-Predictive-Analytics/blob/main/Final_Project_App_Twt_SA_JPV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apple-Twitter Sentiment Analysis**

In [1]:
# Import Pandas, Numpy,String,nltk,sklearn,csv,re,tensorflow,seaborn,matplotlib,keras
# Defaults
import itertools
import pandas as pd 
import numpy as np
import string
import nltk
import nltk.corpus
import sklearn
import csv
import re
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
import matplotlib as mpl
%matplotlib inline

# NLP
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import stopwords,wordnet 
from nltk import NaiveBayesClassifier
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk import pos_tag
from wordcloud import WordCloud

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from keras.preprocessing.text import Tokenizer, text_to_word_sequence
from sklearn.model_selection import train_test_split
from keras.models import load_model

# ML Stuff
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing import text, sequence       
from IPython.display import display, HTML
from tensorflow.keras.utils import to_categorical
from keras.callbacks import ModelCheckpoint
from sklearn.utils import class_weight
from sklearn.metrics import precision_score, accuracy_score, f1_score,recall_score, roc_auc_score,precision_recall_curve, average_precision_score, auc, roc_curve
from keras.layers import Conv1D, MaxPooling1D, GlobalMaxPooling1D
from sklearn.metrics import classification_report

from keras.utils.vis_utils import plot_model
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix
import pickle

sns.set()

In [2]:
# DL Dictionaries
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

**Load Given Data**

In [3]:
# Import given csv file and establish encoding protocol
encoding = "ISO-8859-1"
ats = pd.read_csv ('https://raw.githubusercontent.com/RedPandaStyle/ACE-Predictive-Analytics/main/Apple-Twitter-Sentiment-DFE%20-%20Apple-Twitter-Sentiment-DFE.csv')

**Initiate Exploratory Data Analysis**

In [4]:
# Basic view
ats.head(15)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,date,id,query,sentiment_gold,text
0,623495513,True,golden,10,NaN,3,0.6264,Mon Dec 01 19:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\nnot_relevant,#AAPL:The 10 best Steve Jobs emails ever...htt...
1,623495514,True,golden,12,NaN,3,0.8129,Mon Dec 01 19:43:51 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2,623495515,True,golden,10,NaN,3,1.0000,Mon Dec 01 19:50:28 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,My cat only chews @apple cords. Such an #Apple...
3,623495516,True,golden,17,NaN,3,0.5848,Mon Dec 01 20:26:34 +0000 2014,5.400000e+17,#AAPL OR @Apple,3\n1,I agree with @jimcramer that the #IndividualIn...
4,623495517,False,finalized,3,12/12/14 12:14,3,0.6474,Mon Dec 01 20:29:33 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,Nobody expects the Spanish Inquisition #AAPL
5,623495518,True,golden,13,NaN,3,0.5975,Mon Dec 01 20:30:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,#AAPL:5 Rocket Stocks to Buy for December Gain...
6,623495519,True,golden,13,NaN,5,0.8468,Mon Dec 01 20:32:45 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,Top 3 all @Apple #tablets. Damn right! http://...
7,623495520,True,golden,9,NaN,5,0.6736,Mon Dec 01 20:34:31 +0000 2014,5.400000e+17,#AAPL OR @Apple,5\n3,CNBCTV: #Apple's margins better than expected?...
8,623495521,True,golden,15,NaN,3,0.7997,Mon Dec 01 20:36:47 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,Apple Inc. Flash Crash: What You Need to Know ...
9,623495522,False,finalized,3,12/12/14 0:52,3,0.6360,Mon Dec 01 20:45:03 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,#AAPL:This Presentation Shows What Makes The W...
10,623495523,True,golden,12,NaN,1,1.0000,Mon Dec 01 20:46:01 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,WTF MY BATTERY WAS 31% ONE SECOND AGO AND NOW ...
11,623495524,True,golden,9,NaN,3,0.6658,Mon Dec 01 20:47:12 +0000 2014,5.400000e+17,#AAPL OR @Apple,5,Apple Watch Tops Search Engine List of Best We...
12,623495525,True,golden,11,NaN,3,0.8381,Mon Dec 01 21:00:15 +0000 2014,5.400000e+17,#AAPL OR @Apple,3,"The Best-Designed #iPhone #Apps In the World, ..."
13,623495526,False,finalized,3,12/12/14 21:38,5,1.0000,Mon Dec 01 21:03:32 +0000 2014,5.400000e+17,#AAPL OR @Apple,NaN,RT @peterpham: Bought my @AugustSmartLock at t...
14,623495527,True,golden,17,NaN,1,1.0000,Mon Dec 01 21:09:50 +0000 2014,5.400000e+17,#AAPL OR @Apple,1,@apple Contact sync between Yosemite and iOS8 ...

In [5]:
# Describe titles of Columns
ats.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'sentiment', 'sentiment:confidence', 'date', 'id',
       'query', 'sentiment_gold', 'text'],
      dtype='object')

In [6]:
# Describe Datatypes
ats.dtypes

_unit_id                  int64
_golden                    bool
_unit_state              object
_trusted_judgments        int64
_last_judgment_at        object
sentiment                object
sentiment:confidence    float64
date                     object
id                      float64
query                    object
sentiment_gold           object
text                     object
dtype: object

In [7]:
# Begin dropping unwanted data
ats.drop(['_unit_id','_golden','_unit_state','_trusted_judgments','_last_judgment_at','sentiment:confidence','date','id','query','sentiment_gold',], axis=1, inplace=True)
ats

     sentiment                                               text
0            3  #AAPL:The 10 best Steve Jobs emails ever...htt...
1            3  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2            3  My cat only chews @apple cords. Such an #Apple...
3            3  I agree with @jimcramer that the #IndividualIn...
4            3       Nobody expects the Spanish Inquisition #AAPL
...        ...                                                ...
3881         3  (Via FC) Apple Is Warming Up To Social Media -...
3882         3  RT @MMLXIV: there is no avocado emoji may I as...
3883         5  @marcbulandr I could not agree more. Between @...
3884         1  My iPhone 5's photos are no longer downloading...
3885         5  RT @SwiftKey: We're so excited to be named to ...

[3886 rows x 2 columns]

In [8]:
# Drop duplicates
ats.drop_duplicates()
ats

     sentiment                                               text
0            3  #AAPL:The 10 best Steve Jobs emails ever...htt...
1            3  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2            3  My cat only chews @apple cords. Such an #Apple...
3            3  I agree with @jimcramer that the #IndividualIn...
4            3       Nobody expects the Spanish Inquisition #AAPL
...        ...                                                ...
3881         3  (Via FC) Apple Is Warming Up To Social Media -...
3882         3  RT @MMLXIV: there is no avocado emoji may I as...
3883         5  @marcbulandr I could not agree more. Between @...
3884         1  My iPhone 5's photos are no longer downloading...
3885         5  RT @SwiftKey: We're so excited to be named to ...

[3886 rows x 2 columns]

Sentiment represents a range of overall positivity 1 being least positive and 5 being most. For our purposes, this array must be converted to either good or bad. 0 or 1

In [9]:
#Find unique and not applicable values and modify or drop
ats['sentiment'].value_counts().unique

<bound method Series.unique of 3               2162
1               1219
5                423
not_relevant      82
Name: sentiment, dtype: int64>

In [10]:
ats = ats[ats.sentiment != 'not_relevant']
ats

     sentiment                                               text
0            3  #AAPL:The 10 best Steve Jobs emails ever...htt...
1            3  RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2            3  My cat only chews @apple cords. Such an #Apple...
3            3  I agree with @jimcramer that the #IndividualIn...
4            3       Nobody expects the Spanish Inquisition #AAPL
...        ...                                                ...
3881         3  (Via FC) Apple Is Warming Up To Social Media -...
3882         3  RT @MMLXIV: there is no avocado emoji may I as...
3883         5  @marcbulandr I could not agree more. Between @...
3884         1  My iPhone 5's photos are no longer downloading...
3885         5  RT @SwiftKey: We're so excited to be named to ...

[3804 rows x 2 columns]

In [11]:
ats['sentiment'] = ats['sentiment'].replace(4, 1)

<ipython-input-11-268b46a432fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ats['sentiment'] = ats['sentiment'].replace(4, 1)

In [12]:
# Verify dtypes once again and fill and NaNs with 0
ats.dtypes

sentiment    object
text         object
dtype: object

In [13]:
ats.isnull().sum().sort_values(ascending=False)

sentiment    0
text         0
dtype: int64

Now

In [14]:
# Defining dictionary containing all emojis with their meanings.
emojis = {':)': 'smile', ':-)': 'smile', ';d': 'wink', ':-E': 'vampire', ':(': 'sad', 
          ':-(': 'sad', ':-<': 'sad', ':P': 'raspberry', ':O': 'surprised',
          ':-@': 'shocked', ':@': 'shocked',':-$': 'confused', ':\\': 'annoyed', 
          ':#': 'mute', ':X': 'mute', ':^)': 'smile', ':-&': 'confused', '$_$': 'greedy',
          '@@': 'eyeroll', ':-!': 'confused', ':-D': 'smile', ':-0': 'yell', 'O.o': 'confused',
          '<(-_-)>': 'robot', 'd[-_-]b': 'dj', ":'-)": 'sadsmile', ';)': 'wink', 
          ';-)': 'wink', 'O:-)': 'angel','O*-)': 'angel','(:-D': 'gossip', '=^.^=': 'cat'}

In [15]:
#Use of stop words
## Defining set containing all stopwords in english.
stopwords = ['a', 'about', 'above', 'after', 'again', 'ain', 'all', 'am', 'an',
             'and','any','are', 'as', 'at', 'be', 'because', 'been', 'before',
             'being', 'below', 'between','both', 'by', 'can', 'd', 'did', 'do',
             'does', 'doing', 'down', 'during', 'each','few', 'for', 'from', 
             'further', 'had', 'has', 'have', 'having', 'he', 'her', 'here',
             'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in',
             'into','is', 'it', 'its', 'itself', 'just', 'll', 'm', 'ma',
             'me', 'more', 'most','my', 'myself', 'now', 'o', 'of', 'on', 'once',
             'only', 'or', 'other', 'our', 'ours','ourselves', 'out', 'own', 're',
             's', 'same', 'she', "shes", 'should', "shouldve",'so', 'some', 'such',
             't', 'than', 'that', "thatll", 'the', 'their', 'theirs', 'them',
             'themselves', 'then', 'there', 'these', 'they', 'this', 'those', 
             'through', 'to', 'too','under', 'until', 'up', 've', 'very', 'was',
             'we', 'were', 'what', 'when', 'where','which','while', 'who', 'whom',
             'why', 'will', 'with', 'won', 'y', 'you', "youd","youll", "youre",
             "youve", 'your', 'yours', 'yourself', 'yourselves']

In [16]:
import time
t = time.time()
processedtext = preprocess(text2)
print(f'Total Time taken for Preprocessing: {round(time.time()-t)}')

NameError: ignored

In [ ]:
text2=list(Sentiment['text'])

In [ ]:
lemmatizer = WordNetLemmatizer()
# grouping together the inflected forms ("better" -> "good")

def preprocess(textdata):
    processed_texts = []

    # Defining regex patterns.
    url_pattern = r"((http://)[^ ]*|(https://)[^ ]*|( www\.)[^ ]*)"
    user_pattern = '@[^\s]+'
    alpha_pattern = "[^a-zA-Z0-9]"
    sequence_pattern = r"(.)\1\1+"
    seq_replace_pattern = r"\1\1"

    for tweet in textdata:
        tweet = tweet.lower()

        # Replace all URls with 'URL'
        tweet = re.sub(url_pattern, ' URL', tweet)
        # Replace all emojis.
        # for emoji in emojis.keys():
        #     tweet = tweet.replace(emoji, "EMOJI" + emojis[emoji])
        #     # Replace @USERNAME to 'USER'.
        tweet = re.sub(user_pattern, ' USER', tweet)
        # Replace all non alphabets.
        tweet = re.sub(alpha_pattern, " ", tweet)
        # Replace 3 or more consecutive letters by 2 letter.
        tweet = re.sub(sequence_pattern, seq_replace_pattern, tweet)

        preprocessed_words = []
        for word in tweet.split():
            # Check if the word is a stopword.
            if len(word) > 1 and word not in stopwords:
                # Lemmatizing the word.
                word = lemmatizer.lemmatize(word)
                preprocessed_words.append(word)

        processed_texts.append(' '.join(preprocessed_words))

    return processed_texts

In [ ]:
processedtext = preprocess(text2)

In [ ]:
#Assign the variables
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(text2, Sentiment['sentiment'], test_size = 0.15, random_state = 1)

In [ ]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

In [ ]:
X_train = vectorizer.transform(X_train)
X_test  = vectorizer.transform(X_test)